.footer {
    $b: &;

    padding-bottom: 2rem;
    padding-top: 2rem;

    &__grid {
        @include at(lg) {
            align-items: center;
        }
    }

    &__rail {
        grid-column: main;

        @include at(lg) {
            grid-column: main-start / span 4;
        }
    }

    &__main {
        grid-column: main;

        @include at(lg) {
            grid-column: 5 / -1;
        }
    }
}