.listing {
    $b: &;

    & + & {
        margin-top: clamp(1rem, 1.03rem + 2vw, 2.625rem);
    }

    &__items {
        display: grid;
        row-gap: var(--spacer);
    }

    &__heading {
        font-size: clamp(1.325rem, calc(1.59vw + 0.6rem), 1.75rem);
        font-weight: 600;
        margin-bottom: 0.5rem;

        @include at(md) {
            align-items: center;
            display: flex;
            justify-content: space-between;
        }
    }

    &__headingLink {
        display: block;
        font-size: 0.725em;
    }

    &__intro {
        margin-bottom: 1.5em;
    }

    &__list {
        list-style: disc;
        margin-left: 1.125rem;
    }

    &__listItem {
        margin-bottom: 0.5em;
    }

    &:last-child {
        margin-bottom: 0;
    }

}