.listing {
    $b: &;

    & + & {
        margin-top: clamp(1rem, 1.03rem + 2vw, 2.625rem);
    }

    &__items {
        display: grid;
        row-gap: var(--spacer);
    }

    &__heading {
        display: block;
        font-size: clamp(1.325rem, calc(1.59vw + 0.6rem), 1.75rem);
        font-weight: 600;
        margin-bottom: 0.5rem;
    }

    &__intro {
        font-size: clamp(1rem, calc(0.9rem + 0.44vw), 1.25rem);
        margin-top: 1.25rem;
    }

    &__list {
        list-style: disc;
        margin-left: 1.125rem;
    }

    &__listItem {
        font-size: clamp(1rem, calc(0.90rem + 0.44vw), 1.25rem);
        margin-bottom: 0.5em;
    }

    &:last-child {
        margin-bottom: 0;
    }

}