.meta {
    $b: &;

    --meta-font-size: .925rem;
    --meta-line-height: var(--body-line-height);
    --meta-baseline-distance: calc(var(--meta-font-size) * var(--meta-line-height));
    --meta-separator-size: 5px;
    --meta-separator-offset: calc((var(--meta-baseline-distance) * 0.5) - (var(--meta-separator-size) * 0.5));

    display: flex;
    font-family: var(--font-family-monospace);
    font-size: var(--meta-font-size);

    &__item {
        & + &::before {
            background-color: var(--color-sugar-cane);
            border-radius: 50rem;
            content: "";
            display: inline-block;
            float: left;
            height: var(--meta-separator-size);
            margin-left: 0.75rem;
            margin-right: 0.75rem;
            transform: translateY(var(--meta-separator-offset));
            width: var(--meta-separator-size);
        }
    }
}