body {
    background-color: var(--color-maire-500);
    color: var(--color-sugar-cane);
    font-family: var(--font-family-sans-serif);
    line-height: 1.5;
    margin: 0;
    -webkit-tap-highlight-color: rgba(#000, 0);
    text-size-adjust: 100%;
}

img {
    height: auto;
    max-width: 100%;
}

[v-cloak] {
    display: none;
}
