:root {
    --font-family-sans-serif: #{$font-family-sans-serif};
    --font-family-monospace: #{$font-family-monospace};

    --color-gray-600: #{$color-gray-600};
    --color-gray-800: #{$color-gray-800};

    --color-daisy: #{$color-daisy};
    --color-maire-500: #{$color-maire-500};
    --color-pelorous: #{$color-pelorous};
    --color-sugar-cane: #{$color-sugar-cane};

    --body-font-weight: #{$body-font-weight};
    --body-line-height: #{$body-line-height};

    --container-max-width: #{$container-max-width};
    --container-padding-x: #{$container-padding-x};

    --grid-gutter: #{$grid-gutter};

    --spacer: clamp(1.5rem, calc(1.29rem + 0.89vw), 2rem);
}